
{{> head }}

<body>
    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Encuentra las mejores promociones hoy: {{fecha}}</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iste aspernatur harum facere, soluta pariatur quasi vitae laudantium eum excepturi culpa voluptas. Vel, minus? Molestias tempora praesentium sapiente! Non, repudiandae.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae tenetur perferendis laudantium accusamus numquam harum quibusdam perspiciatis non earum praesentium, eligendi quam, voluptatum quis voluptatibus aut amet fugiat similique autem!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </div>

    {{> footer }}
</body>

</html>